<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/Header :: header"></div>

<section class="hero">
    <h1>Velkommen til Racekatteklubben</h1>
    <p>Foreningen for passionerede katteentusiaster</p>
</section>

<section class="content container">
    <h2>Dine oplysninger</h2>
    <p><strong>Navn:</strong> <span th:text="${loggedInMember.name}"></span></p>
    <p><strong>E-mail:</strong> <span th:text="${loggedInMember.email}"></span></p>

    <form th:action="@{/members/update}" method="post">
        <div class="form-group">
            <label>Rediger din bruger</label>
        </div>
        <button type="submit" class="btn"> Rediger</button>
    </form>
    <a class="btn" th:href="@{/members/deleteConfirmation}">
        Fjern mit medlemskab
    </a>

</section>

<section class="content container">
    <h1>Liste over dine katte</h1>

    <div class="cat-card-container">
        <div class="cat-card" th:each="cat : ${cats}">
            <h3 th:text="${cat.name}"></h3>
            <p><strong>Race:</strong> <span th:text="${cat.breed}"></span></p>
            <p><strong>Fødselsdato:</strong> <span th:text="${cat.dateOfBirth}"></span></p>

            <div class="cat-card-actions">
                <a th:href="@{/cats/catProfile/{id}(id=${cat.id})}" class="btn small">Se</a>
                <a th:href="@{/cats/update/{id}(id=${cat.id})}" class="btn small">Rediger</a>
                <a th:href="@{/cats/deleteConfirmation/{id}(id=${cat.id})}" class="btn small">Slet</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
