<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header class="header">
    <div class="container nav-container">
        <a href="/" class="logo">Racekatteklubben</a>

        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="burger">
            <span></span><span></span><span></span>
        </label>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="/members/list">Se Medlemmer</a></li>
                <li><a href="/cats/create">Tilføj kat</a></li>
                <li><a href="/">Log ud</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <h1>Velkommen til Racekatteklubben</h1>
    <p>Foreningen for passionerede katteentusiaster</p>
</section>

<section class="content container">
    <h2>Dine oplysninger</h2>
    <p><strong>Navn:</strong> <span th:text="${loggedInMember.name}"></span></p>
    <p><strong>E-mail:</strong> <span th:text="${loggedInMember.email}"></span></p>

    <form th:action="@{/members/update}" method="post">
        <div class="form-group">
            <label>Rediger din bruger</label>
        </div>
        <button type="submit" class="btn"> Rediger</button>
    </form>
<form th:action="@{/members/delete}" method="post" class="form">
    <div class="form-group">
        <label>Fjern mit medlemskab</label>
    </div>

    <button class="btn" type="submit" >fjern</button>
</form>

</section>



<section class="content container">
    <h1>Liste over dine katte</h1>

    <table class="table" border="1">
        <thead>
        <tr>
            <th>Navn</th>
            <th>Race</th>
            <th>Køn</th>
            <th>Farve</th>
            <th>Fødselsdag</th>
            <th>Status</th>
            <th>Far</th>
            <th>Mor</th>
            <th>Opdrætter</th>
            <th>Handlinger</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cat : ${cats}">
            <td th:text="${cat.name}"></td>
            <td th:text="${cat.breed}"></td>
            <td th:text="${cat.gender.description}"></td>
            <td th:text="${cat.color}"></td>
            <td th:text="${cat.dateOfBirth}"></td>
            <td th:text="${cat.status}"></td>
            <td th:text="${cat.father}"></td>
            <td th:text="${cat.mother}"></td>
            <td th:text="${cat.breeder}"></td>
            <td>
                <a th:href="@{/cats/update/{id}(id=${cat.id})}" class="btn">
                    Rediger kat
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
