<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medlemsliste</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<section class="hero">
    <h1>Liste af aktive medlemmer</h1>
    <p>Her kan du se alle registrerede medlemmer i Racekatteklubben</p>
</section>

<section class="content container">

    <p><a class="btn" th:href="@{/members/home}">Tilbage til din forside</a></p>

    <h2>Medlemsliste</h2>

    <div class="cat-card-container">
        <div class="cat-card" th:each="member : ${members}">
            <h3 th:text="${member.name}"></h3>

            <p><strong>Email:</strong> <span th:text="${member.email}"></span></p>

            <div class="cat-card-actions">
                <a th:href="@{/cats/{owner}(owner=${member.email})}" class="btn small">Kæledyr</a>
            </div>
        </div>
    </div>

</section>

</body>
</html>
